<h1>Stupid Coaching</h1>

<div style="background-color: #D3D3D3">
  <div style="padding-left: 15px">
    <h2><%= @question %></h2>
    <h3><em>- You</em></h3>
  </div>
</div>

<div style="background-color: gray">
  <div style="padding-left: 15px">
    <h2 style="color: white"><%= @coach %></h2>
    <h3 style="color: white"><em>- Coach</em></h3>
  </div>
</div>

<div>
  <p><%= link_to "Go back", ask_path %></p>
</div>
